<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center-block">
        <h1>Чего тебе надобно путник?</h1>
    </div>

    <nav>
        <ul class="nav-list">
            <li><a href="/cartridge">Картриджи</a></li>
            <li><a href="/act">Акт</a></li>
            <li><a href="/user">Карточка нового пользователя</a></li>
        </ul>
    </nav>
</body>
</html>
